In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
dataset = pd.read_csv('mumbai_real_estate_prices.csv')
dataset.head()

,SPID,PROP_ID,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,PRICE_PER_UNIT_AREA,...,REGISTERED_DAYS,PRIMARY_TAGS,SECONDARY_TAGS,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,SOCIETY_NAME,BUILDING_NAME,location,BALCONY_NUM,FLOOR_NUM
0,69306824,X69306824,S,New brand 3bhk farmhouse with 68 guntha land f...,Farm House,Mumbai Beyond Thane,1.0,1,3.0,477941.0,...,2 weeks ago,['FEATURED'],"['READY TO MOVE', 'RESALE']",14.0,[{'text': '9 Hospitals'}],NaN,NaN,"{'CITY': '274', 'CITY_NAME': 'Mumbai Beyond Th...",1.0,NaN
1,70915032,R70915032,S,Our residential plots & commercial plots are a...,Residential Land,Navi Mumbai,1.0,1,NaN,381.0,...,6 days ago,['FEATURED'],"['CORNER PROPERTY', 'NORTH-EAST FACING', 'CIDC...",NaN,NaN,city prop,city prop,"{'CITY': '15', 'CITY_NAME': 'Navi Mumbai', 'BU...",NaN,NaN
2,70916930,G70916930,P,Spacious bedroom with \nDouble size bed with d...,Residential Apartment,Thane,NaN,0,1.0,51.0,...,4 days ago,[],"['FURNISHED', 'PRIVATE ROOM']",49.0,"[{'text': '2 Religious Places'}, {'text': '1 A...",Highway Darshan,Highway Darshan,"{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",1.0,1.0
3,70484400,H70484400,P,Pg for boys and girls available with price of:...,Residential Apartment,Thane,NaN,0,4.0,6.0,...,4 weeks ago,[],"['FURNISHED', 'SHARED BY 2']",39.0,"[{'text': '1 Shopping'}, {'text': '3 Religious...","Terraform Petunia, G Corp","Terraform Petunia, G Corp","{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",2.0,11.0
4,70484128,A70484128,P,Pg for boys and girls in thane with below pric...,Residential Apartment,Thane,NaN,0,4.0,6.0,...,4 weeks ago,[],"['FURNISHED', 'SHARED BY 2']",50.0,"[{'text': '1 Shopping'}, {'text': '2 Religious...",nul,nul,"{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",2.0,25.0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9514 entries, 0 to 9513
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SPID                        9514 non-null   int64
 1   PROP_ID                     9514 non-null   object
 2   PREFERENCE                  9514 non-null   object
 3   DESCRIPTION                 9514 non-null   object
 4   PROPERTY_TYPE               9514 non-null   object
 5   CITY                        9514 non-null   object
 6   TRANSACT_TYPE               6867 non-null   float64
 7   OWNTYPE                     9514 non-null   int64
 8   BEDROOM_NUM                 9453 non-null   float64
 9   PRICE_PER_UNIT_AREA         9514 non-null   float64
 10  FURNISH                     9514 non-null   int64
 11  FACING                      9514 non-null   int64
 12  AGE                         9514 non-null   int64
 13  TOTAL_FLOOR                 9497 non-null   float64
 14  FEATURES                    9514 non-null   object
 15  REGISTER_DATE               9514 non-null   object
 16  POSTING_DATE                9103 non-null   float64
 17  UPDATE_DATE                 9514 non-null   int64
 18  CLASS                       9514 non-null   object
 19  RES_COM                     9514 non-null   object
 20  PROP_NAME                   9404 non-null   object
 21  PROPERTY_NUMBER             9514 non-null   int64
 22  MIN_PRICE                   9514 non-null   int64
 23  MAX_PRICE                   9514 non-null   int64
 24  PRICE_SQFT                  9514 non-null   float64
 25  PROJ_ID                     9514 non-null   int64
 26  BUILDING_ID                 9514 non-null   int64
 27  VERIFIED                    9514 non-null   object
 28  MAP_DETAILS                 9514 non-null   object
 29  MIN_AREA_SQFT               9514 non-null   float64
 30  MAX_AREA_SQFT               9514 non-null   float64
 31  AMENITIES                   4979 non-null   object
 32  ALT_TAG                     8388 non-null   object
 33  PRODUCT_TYPE                9514 non-null   object
 34  TOP_USPS                    3418 non-null   object
 35  EXPIRY_DATE                 9514 non-null   object
 36  PROPERTY_TYPE__U            9514 non-null   int64
 37  AREA                        9514 non-null   object
 38  SECONDARY_AREA              9514 non-null   object
 39  PRICE                       9514 non-null   object
 40  PROP_HEADING                9514 non-null   object
 41  VALUE_LABEL                 6867 non-null   object
 42  CLASS_HEADING               9514 non-null   object
 43  CLASS_LABEL                 9514 non-null   object
 44  REGISTER_DATE__U            9514 non-null   object
 45  REGISTERED_DAYS             9514 non-null   object
 46  PRIMARY_TAGS                9514 non-null   object
 47  SECONDARY_TAGS              9514 non-null   object
 48  TOTAL_LANDMARK_COUNT        9337 non-null   float64
 49  FORMATTED_LANDMARK_DETAILS  9337 non-null   object
 50  SOCIETY_NAME                9404 non-null   object
 51  BUILDING_NAME               9404 non-null   object
 52  location                    9514 non-null   object
 53  BALCONY_NUM                 5157 non-null   float64
 54  FLOOR_NUM                   9341 non-null   object
dtypes: float64(10), int64(12), object(33)
memory usage: 4.0+ MB

In [5]:
dataset.isnull().sum()

SPID                             0
PROP_ID                          0
PREFERENCE                       0
DESCRIPTION                      0
PROPERTY_TYPE                    0
CITY                             0
TRANSACT_TYPE                 2647
OWNTYPE                          0
BEDROOM_NUM                     61
PRICE_PER_UNIT_AREA              0
FURNISH                          0
FACING                           0
AGE                              0
TOTAL_FLOOR                     17
FEATURES                         0
REGISTER_DATE                    0
POSTING_DATE                   411
UPDATE_DATE                      0
CLASS                            0
RES_COM                          0
PROP_NAME                      110
PROPERTY_NUMBER                  0
MIN_PRICE                        0
MAX_PRICE                        0
PRICE_SQFT                       0
PROJ_ID                          0
BUILDING_ID                      0
VERIFIED                         0
MAP_DETAILS                      0
MIN_AREA_SQFT                    0
MAX_AREA_SQFT                    0
AMENITIES                     4535
ALT_TAG                       1126
PRODUCT_TYPE                     0
TOP_USPS                      6096
EXPIRY_DATE                      0
PROPERTY_TYPE__U                 0
AREA                             0
SECONDARY_AREA                   0
PRICE                            0
PROP_HEADING                     0
VALUE_LABEL                   2647
CLASS_HEADING                    0
CLASS_LABEL                      0
REGISTER_DATE__U                 0
REGISTERED_DAYS                  0
PRIMARY_TAGS                     0
SECONDARY_TAGS                   0
TOTAL_LANDMARK_COUNT           177
FORMATTED_LANDMARK_DETAILS     177
SOCIETY_NAME                   110
BUILDING_NAME                  110
location                         0
BALCONY_NUM                   4357
FLOOR_NUM                      173
dtype: int64

In [7]:
dataset.shape

(9514, 55)

In [9]:
dataset.drop(['REGISTER_DATE', 'POSTING_DATE', 'UPDATE_DATE'], axis=1, inplace=True)

In [10]:
dataset.head()

,SPID,PROP_ID,PREFERENCE,DESCRIPTION,PROPERTY_TYPE,CITY,TRANSACT_TYPE,OWNTYPE,BEDROOM_NUM,PRICE_PER_UNIT_AREA,...,REGISTERED_DAYS,PRIMARY_TAGS,SECONDARY_TAGS,TOTAL_LANDMARK_COUNT,FORMATTED_LANDMARK_DETAILS,SOCIETY_NAME,BUILDING_NAME,location,BALCONY_NUM,FLOOR_NUM
0,69306824,X69306824,S,New brand 3bhk farmhouse with 68 guntha land f...,Farm House,Mumbai Beyond Thane,1.0,1,3.0,477941.0,...,2 weeks ago,['FEATURED'],"['READY TO MOVE', 'RESALE']",14.0,[{'text': '9 Hospitals'}],NaN,NaN,"{'CITY': '274', 'CITY_NAME': 'Mumbai Beyond Th...",1.0,NaN
1,70915032,R70915032,S,Our residential plots & commercial plots are a...,Residential Land,Navi Mumbai,1.0,1,NaN,381.0,...,6 days ago,['FEATURED'],"['CORNER PROPERTY', 'NORTH-EAST FACING', 'CIDC...",NaN,NaN,city prop,city prop,"{'CITY': '15', 'CITY_NAME': 'Navi Mumbai', 'BU...",NaN,NaN
2,70916930,G70916930,P,Spacious bedroom with \nDouble size bed with d...,Residential Apartment,Thane,NaN,0,1.0,51.0,...,4 days ago,[],"['FURNISHED', 'PRIVATE ROOM']",49.0,"[{'text': '2 Religious Places'}, {'text': '1 A...",Highway Darshan,Highway Darshan,"{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",1.0,1.0
3,70484400,H70484400,P,Pg for boys and girls available with price of:...,Residential Apartment,Thane,NaN,0,4.0,6.0,...,4 weeks ago,[],"['FURNISHED', 'SHARED BY 2']",39.0,"[{'text': '1 Shopping'}, {'text': '3 Religious...","Terraform Petunia, G Corp","Terraform Petunia, G Corp","{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",2.0,11.0
4,70484128,A70484128,P,Pg for boys and girls in thane with below pric...,Residential Apartment,Thane,NaN,0,4.0,6.0,...,4 weeks ago,[],"['FURNISHED', 'SHARED BY 2']",50.0,"[{'text': '1 Shopping'}, {'text': '2 Religious...",nul,nul,"{'CITY': '219', 'CITY_NAME': 'Thane', 'BUILDIN...",2.0,25.0

In [12]:
dataset[['SOCIETY_NAME', 'BUILDING_NAME']][:20]

                         SOCIETY_NAME                      BUILDING_NAME
0                                 NaN                                NaN
1                           city prop                          city prop
2                     Highway Darshan                    Highway Darshan
3          Terraform Petunia, G Corp          Terraform Petunia, G Corp
4                                 nul                                nul
5   Anurag Society , manthan society   Anurag Society , manthan society
6                   Vintage Paying PG                  Vintage Paying PG
7                    Shri Sai Darshan                   Shri Sai Darshan
8                Bhiwandi Tata mantra               Bhiwandi Tata mantra
9             blue diamond apartments            blue diamond apartments
10                 Churchgate Mansion                 Churchgate Mansion
11                      Lake Pleasant                      Lake Pleasant
12  shivstan chs 20th road khar West   shivstan chs 20th road khar West
13                           Alpa CHS                           Alpa CHS
14               Abhismit Aum Heights               Abhismit Aum Heights
15                                NaN                                NaN
16                      prafull hall                       prafull hall
17                   Piramal Vaikunth                   Piramal Vaikunth
18                      Platinum Life                      Platinum Life
19                    Highway Darshan                    Highway Darshan

In [13]:
dataset.drop('SOCIETY_NAME', axis=1, inplace=True)

In [14]:
dataset['PRICE']

0              3.25 Cr
1               4.15 L
2       20,000/Bedroom
3            8,000/Bed
4            8,000/Bed
             ...
9509            50.4 L
9510            1.3 Cr
9511              80 L
9512              55 L
9513            1.6 Cr
Name: PRICE, Length: 9514, dtype: object

In [15]:
dataset.drop('BUILDING_NAME', axis=1, inplace=True)